# Grafana datasource provisioning 버전.
apiVersion: 1
# 자동 등록할 datasource 목록.
datasources:
  # CloudWatch datasource (EC2 IAM Role 인증 사용).
  - name: cloudwatch
    type: cloudwatch
    access: proxy
    editable: true
    jsonData:
      authType: default
      defaultRegion: __REGION__
